{% extends 'redir/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Tadas Talaikis Blog" %}{% endblock %}

{% block js %}
<link href="https://talaikis.com/static/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
<script src="https://talaikis.com/static/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
{% endblock %}

{% block content %}
{% if first %}
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1 class="display-4 section-title">English Blog</h1>
              {% for cat in cats_en %}
                <h3 class="display-4 section-title"><a href="https://talaikis.com/blog/category/{{ cat.slug }}/">{{ cat.title }}</a></h3>
              {% empty %}
                    <p>{% trans "Nothing here yet." %}</p>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1 class="display-4 section-title">Lietuviškas dienoraštis</h1>
              {% for cat in cats_lt %}
                <h3 class="display-4 section-title"><a href="https://talaikis.com/blog/category/{{ cat.slug }}/">{{ cat.title }}</a></h3>
              {% empty %}
                    <p>{% trans "Nothing here yet." %}</p>
              {% endfor %}
            </div>
        </div>
    </div>
</section>

{% elif cat_slug %}
<section id="about" class="about">
    <div class="container">
        {% for post in posts %}
        <div class="row">
            <div class="col-lg-12">
                <a href="https://talaikis.com/blog/post/{{ post.slug }}/"><h3 class="display-4 section-title">{{ post.title }}</a></h3><br />{{ post.date_time }}
            </div>
        </div>
        {% empty %}
            <p>{% trans "Nothing here yet." %}</p>
        {% endfor %}
        
    </div>
</section>

{% elif post_slug %}
<section id="about" class="about">
    <div class="container">
        {% for post in posts %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-4 section-title">{{ post.title }}</h1><br />{{ post.date_time }}
                {% autoescape off %}
                    {{ post.content }}
                {% endautoescape %}
            </div>
        </div>
        {% empty %}
            <p>{% trans "Nothing here yet." %}</p>
        {% endfor %}
        
    </div>
</section>
{% endif %}

{% endblock %}
