{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dr. Jonas Edward Salk</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="{% static "redir/assets/css/salk.css" %}" rel="stylesheet">
	<meta property="og:image" content="https://talaikis.com/static/media/jonas-salk.jpg" />
	<meta property="og:image:type" content="image/jpg" />
	<meta property="og:image:width" content="1920" />
	<meta property="twitter:image" content="https://talaikis.com/static/media/jonas-salk.jpg" />
	<meta property="og:description" content="Tribute page for a scientist who discovered and developed one of the first successful polio vaccines." />
</head>
<body>

<div class="jumbotron">
<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h1 class="display-3 ">Dr. Jonas Edward Salk</h1>
		</div>
		<div class="col-md-3"></div>
</div>

<div class="row align-items-center">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<p class="lead">Scientist who discovered and developed one of the first successful polio vaccines.</p>
		</div>
		<div class="col-md-3"></div>
</div>

</div>

<div class="container-fluid no-padding">
			<img src="https://talaikis.com/static/media/jonas-salk.jpg" class="img-fluid">
</div>

<div class="jumbotron">
<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">
				<blockquote class="blockquote">There is no patent. Could you patent the sun?
					<footer class="blockquote-footer">Jonas Salk</footer></blockquote>
				<h4>Timeline</h4>
				<img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Salk_Ike_55.jpg" class="float-left img-thumb">
				<p>Dr. Jonas Salk was an American medical researcher and virologist. He discovered and developed one of the first successful polio vaccines. Born October 28, 1914 in New York City, attended New York University School of Medicine,  choosing to do medical research.</p>
				<p>In 1939, after earning his medical degree, Salk began an internship as a scientist physician at Mount Sinai Hospital. Two years later he was granted a fellowship at the University of Michigan, where he would study flu viruses with his mentor Thomas Francis, Jr..</p>
<p>In 1947, Salk accepted an appointment to the University of Pittsburgh School of Medicine. In 1948, he undertook a project funded by the National Foundation for Infantile Paralysis to determine the number of different types of polio virus.</p>
<p>Salk saw an opportunity to extend this project towards developing a vaccine against polio, and, together with the skilled research team he assembled, devoted himself to this work for the next seven years. The field trial set up to test the Salk vaccine was, according to O'Neill, "the most elaborate program of its kind in history, involving 20,000 physicians and public health officers, 64,000 school personnel, and 220,000 volunteers." Over 1,800,000 school children took part in the trial.</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Salk_Thank_You.jpg" class="float-right img-thumb">
<p>Until 1955, when the Salk vaccine was introduced, polio was considered one of the most frightening public health problems in the world. In the postwar United States, annual epidemics were increasingly devastating. The 1952 U.S. epidemic was the worst outbreak in the nation's history. Of nearly 58,000 cases reported that year, 3,145 people died and 21,269 were left with mild to disabling paralysis, with most of its victims being children.</p>
<p>When news of the vaccine's success was made public on April 12, 1955, Salk was hailed as a "miracle worker" and the day almost became a national holiday.</p>
				<h4>Bibliography</h4>
				<ul>
					<li><a href="https://www.amazon.com/Man-unfolding-World-perspectives-v/dp/0060137398?tag=quantrade-20">1972 - Man unfolding </a></li>
					<li><a href="https://www.amazon.com/Survival-Wisest-Jonas-Salk/dp/006013738X?tag=quantrade-20">1973 - The Survival of the Wisest</a></li>
					<li><a href="https://www.amazon.com/World-Population-Human-Values-Reality/dp/0060909072?tag=quantrade-20">1981 - World Population and Human Values: A New Reality</a></li>
					<li><a href="https://www.amazon.com/Anatomy-Reality-Merging-Intuition-Convergence/dp/0231053282?tag=quantrade-20">1983 - Anatomy of Reality: Merging of Intuition and Reason</a></li>
				</ul>
				<h4>Find out more</h4>
				<ul>
					<li><a href="https://en.wikipedia.org/wiki/Jonas_Salk">Wikipedia: Jonas Salk</a></li>
					<li><a href="https://www.amazon.com/Jonas-Salk-Charlotte-DeCroes-Jacobs/dp/0199334412?tag=quantrade-20">Jonas Salk: A Life, by Charlotte DeCroes Jacobs</a></li>
				</ul>
</div>
<div class="col-md-3"></div>

</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92561073-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
{% endspaceless %}
